@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v23/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvmV5zfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v23/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvlL5zfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v23/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvkV5zfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heptaslab/v23/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5Hvny4Dfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3ELaDQs.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3FLdDQs.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriaserif/v16/fC14PYxPY3rXxEndZJAzN3wAVQjF.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriaserif/v16/fC1lPYxPY3rXxEndZJAzN0Ss.ttf) format('truetype');
}
@font-face {
  font-family: 'Judson';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/judson/v19/FeVRS0Fbvbc14VxRDw.ttf) format('truetype');
}
@font-face {
  font-family: 'Judson';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/judson/v19/FeVSS0Fbvbc14Vxps5xQ3Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Khmer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/khmer/v29/MjQImit_vPPwpF-B.ttf) format('truetype');
}
@font-face {
  font-family: 'Khmer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/khmer/v29/MjQImit_vPPwpF-B.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: inria-sans;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header .headerLeft {
  display: flex;
  gap: 74px;
  align-items: center;
}
@media only screen and (max-width: 1450px) {
  .header .headerLeft {
    gap: 30px;
  }
}
@media only screen and (max-width: 1030px) {
  .header .headerLeft {
    gap: 15px;
  }
}
.header .headerLeft .logo {
  margin-left: 23px;
  width: 88px;
}
@media only screen and (max-width: 768px) {
  .header .headerLeft .logo {
    width: 50px;
  }
}
.header .headerLeft .logo img {
  width: 100%;
  height: auto;
}
.header .headerLeft .title {
  color: #07361C;
  font-family: judson;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 7px 0 0;
}
@media only screen and (max-width: 1280px) {
  .header .headerLeft .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1030px) {
  .header .headerLeft .title {
    font-size: 20px;
  }
}
.header .headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.header .headerRight ul.menu {
  display: flex;
  flex-direction: row;
  gap: 141px;
  margin-top: 34px;
  margin-right: 5%;
}
@media only screen and (max-width: 1690px) {
  .header .headerRight ul.menu {
    gap: 100px;
  }
}
@media only screen and (max-width: 1550px) {
  .header .headerRight ul.menu {
    gap: 80px;
  }
}
@media only screen and (max-width: 1450px) {
  .header .headerRight ul.menu {
    gap: 60px;
  }
}
@media only screen and (max-width: 1400px) {
  .header .headerRight ul.menu {
    gap: 30px;
  }
}
@media only screen and (max-width: 1310px) {
  .header .headerRight ul.menu {
    gap: 20px;
  }
}
@media only screen and (max-width: 1030px) {
  .header .headerRight ul.menu {
    gap: 10px;
  }
}
.header .headerRight ul.menu li {
  padding: 0 ;
  list-style: none;
}
.header .headerRight ul.menu li a {
  display: block;
  color: #000;
  font-family: inria-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1030px) {
  .header .headerRight ul.menu li a {
    font-size: 19px;
  }
}
.header .headerRight .nav-right {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}
.header .headerRight .nav-right .mobile-menu-btn {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .header .headerRight .nav-right .mobile-menu-btn {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-end;
    visibility: visible;
    justify-content: center;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .header .headerRight .nav-right .mobile-menu-btn span {
    height: 3px;
    width: 25px;
    background-color: #31483A;
    display: flex;
    transition: transform 0.5s ease-in;
    position: absolute;
    top: 0;
  }
  .header .headerRight .nav-right .mobile-menu-btn.active span {
    background-color: transparent;
  }
  .header .headerRight .nav-right .mobile-menu-btn span:before,
  .header .headerRight .nav-right .mobile-menu-btn span:after {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    background-color: #31483A;
    content: "";
    right: 0;
  }
  .header .headerRight .nav-right .mobile-menu-btn span:before {
    width: 35px;
    top: -10px;
  }
  .header .headerRight .nav-right .mobile-menu-btn span:after {
    width: 15px;
    top: 10px;
  }
  .header .headerRight .nav-right .mobile-menu-btn.active span:before {
    transform: rotate(45deg) translate(8px, 6px);
    width: 35px;
  }
  .header .headerRight .nav-right .mobile-menu-btn.active span:after {
    transform: rotate(-45deg) translate(8px, -6px);
    width: 35px;
  }
  .header .headerRight ul.menu {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    padding: 30px 20px!important;
    z-index: 99999;
    height: 100%;
    overflow: auto;
    background: #31483A;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.03);
    flex-direction: column;
  }
  .header .headerRight ul.menu li a {
    color: #FFF;
    font-size: 30px;
    padding: 0 10px;
  }
  .header .headerRight ul.menu.show-menu {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 400px) {
  .header .headerRight ul.menu {
    width: 260px;
  }
}
.banner {
  background: #31483A;
  padding: 52px 38px 52px 67px;
  margin: 20px 0 0 0;
  display: flex;
  gap: 55px;
}
@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 20px;
  }
}
.banner .bannerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media only screen and (max-width: 1280px) {
  .banner .bannerLeft {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .banner .bannerLeft {
    width: 100%;
  }
}
.banner .bannerLeft p {
  color: #FFF;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  font-family: inria-sans;
  padding: 35px 0 10px 0;
}
@media only screen and (max-width: 1280px) {
  .banner .bannerLeft p {
    font-size: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .banner .bannerLeft p {
    font-size: 32px;
  }
}
.banner .bannerLeft .button {
  background: #560C0C;
  color: #FFF;
  text-align: center;
  font-family: inria-sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 30px 50px;
  display: block;
  max-width: 414px;
  margin: 0 0 0 25px;
}
@media only screen and (max-width: 1100px) {
  .banner .bannerLeft .button {
    font-size: 23px;
    margin: 0 0 0 0px;
  }
}
@media only screen and (max-width: 768px) {
  .banner .bannerLeft .button {
    margin: 20px auto 0;
  }
}
.banner .bannerRight {
  max-width: 1029px;
  width: 60%;
}
@media only screen and (max-width: 1280px) {
  .banner .bannerRight {
    width: 50%;
  }
}
.banner .bannerRight img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .banner .bannerRight {
    width: 100%;
  }
}
.ourservices {
  padding: 90px 120px;
}
@media only screen and (max-width: 768px) {
  .ourservices {
    padding: 20px;
  }
}
.ourservices p {
  color: #000;
  font-family: inria-sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2.24px;
}
.ourservices .button {
  background: #560C0C;
  color: #FFF;
  font-family: inria-sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  max-width: 481px;
  margin: 30px auto 0;
  display: block;
  padding: 20px 0;
  text-align: center;
}
.ourvalues {
  background: #31483A;
  padding: 62px 47px;
}
@media only screen and (max-width: 768px) {
  .ourvalues {
    padding: 20px;
  }
}
.ourvalues h2 {
  color: #FFF;
  font-family: inria-sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.5px;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .ourvalues h2 {
    font-size: 25px;
  }
}
.ourvalues .containItem {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .ourvalues .containItem {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .ourvalues .containItem {
    flex-direction: column;
  }
}
.ourvalues .containItem .item {
  max-width: 530px;
  background: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 768px) {
  .ourvalues .containItem .item {
    width: 100%;
    max-width: initial;
  }
}
.ourvalues .containItem .item .heading {
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 30px 10%;
  text-align: center;
}
.ourvalues .containItem .item .contentText {
  padding: 33px 33px 90px 33px;
  color: #FFF;
  font-family: inria-sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2.24px;
}
@media only screen and (max-width: 1200px) {
  .ourvalues .containItem .item .contentText {
    font-size: 27px;
  }
}
.whychoose {
  padding: 150px 124px 55px;
  background-color: #FFF;
}
@media only screen and (max-width: 768px) {
  .whychoose {
    padding: 20px;
  }
}
.whychoose h2 {
  color: #000;
  font-family: inria-sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 0 0 60px 0;
}
.whychoose p {
  color: #000;
  font-family: inria-sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.56px;
  margin: 0 0 15px 0;
}
.whychoose .button {
  background: #560C0C;
  color: #FFF;
  text-align: center;
  font-family: inria-sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 18px 0;
  max-width: 414px;
  display: block;
  margin: 20px auto 40px;
}
.whychoose .bottom p {
  color: #000;
  text-align: center;
  font-family: "Hepta Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.whychoose .bottom .phone {
  color: #000;
  font-family: "Hepta Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 742px;
  margin: 20px auto 0;
}
@media only screen and (max-width: 768px) {
  .whychoose .bottom .phone {
    text-align: center;
  }
}
/*Our services pages*/
.pageheading {
  background: #560C0C;
  padding: 50px 20px 50px 140px;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .pageheading {
    padding: 20px;
  }
}
.pageheading h1 {
  color: #FFF;
  font-family: "Khmer";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
}
@media only screen and (max-width: 768px) {
  .pageheading h1 {
    font-size: 23px;
  }
}
.container {
  padding: 59px 89px 59px 89px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
.communityNursing {
  background: #F8DADA;
  color: #201919;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.8px;
  padding: 38px 15px 38px 140px;
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 768px) {
  .communityNursing {
    padding: 20px;
    font-size: 23px;
  }
}
.pageHeadingCon {
  color: #000;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2.24px;
  padding: 20px 40px 20px 40px;
  margin: 167px 0 10px 0;
}
@media only screen and (max-width: 768px) {
  .pageHeadingCon {
    padding: 0px;
    font-size: 23px;
    margin: 97px 0 10px 0;
  }
}
.our_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1150px) {
  .our_services {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .our_services {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 22px;
  }
}
.our_services .items {
  background: rgba(240, 181, 181, 0.29);
}
.our_services .items .heading {
  background: rgba(240, 181, 181, 0.29);
  padding: 11px 5px 11px 26px;
  color: #000;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.8px;
}
@media only screen and (max-width: 1150px) {
  .our_services .items .heading {
    font-size: 23px;
  }
}
.our_services .items .contentText {
  color: #000;
  font-family: "Inria Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 20px 5px 20px 28px;
}
.our_services .items.contactus {
  background: #560C0C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_services .items.contactus a {
  color: #FFF;
  text-align: center;
  font-family: "Inria Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .our_services .items.contactus a {
    font-size: 23px;
  }
}
.educationTraining {
  margin-left: -89px;
  margin-right: -89px;
  padding-top: 100px;
  background: #560C0C;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .educationTraining {
    padding: 50px 20px 0px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.educationTraining .headTitle {
  background: #F8DADA;
  padding: 22px 10px 22px 142px;
  position: absolute;
  right: 0;
  color: #000;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.8px;
}
@media only screen and (max-width: 768px) {
  .educationTraining .headTitle {
    padding: 20px;
    font-size: 23px;
  }
}
.educationTraining .educationContent {
  max-width: 1316px;
  margin: 170px auto 0;
  padding: 0 5%;
}
@media only screen and (max-width: 768px) {
  .educationTraining .educationContent {
    padding: 0;
    margin: 115px auto 0;
  }
}
.educationTraining .educationContent p {
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.24px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .educationTraining .educationContent p {
    font-size: 23px;
  }
}
.educationTraining .educationContent p span {
  display: block;
  font-size: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .educationTraining .educationContent p span {
    font-size: 25px;
  }
}
.educationTraining .educationContent p:nth-child(2) {
  margin-bottom: 20px;
}
.educationTraining .educationContent ul li {
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0px 10px 50px;
  letter-spacing: 2.8px;
}
@media only screen and (max-width: 768px) {
  .educationTraining .educationContent ul li {
    font-size: 23px;
  }
}
.educationTraining .serviceimages {
  border-radius: 46px;
  text-align: right;
}
.educationTraining .serviceimages img {
  max-width: 1428.277px;
  max-height: 795.745px;
  margin: 0 0 -5px 0;
}
@media only screen and (max-width: 1150px) {
  .educationTraining .serviceimages img {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .educationTraining .serviceimages img {
    margin-right: -20px;
  }
}
.bottomSection {
  background: url("../images/our_services_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 685px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .bottomSection {
    min-height: 250px;
  }
}
.bottomSection .button {
  background: #31483A;
  color: #FFF;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 112.5% */
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 30px 27px;
}
@media only screen and (max-width: 768px) {
  .bottomSection .button {
    font-size: 23px;
    padding: 20px;
  }
}
.footer .address {
  margin: 30px 0 50px;
}
.footer .address p {
  color: #000;
  font-family: "Hepta Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .footer .address p {
    font-size: 23px;
  }
}
.footer .address p:nth-child(2) {
  margin-bottom: 0px;
}
.footer .phone {
  color: #000;
  font-family: "Hepta Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 768px) {
  .footer .phone {
    font-size: 23px;
  }
}
/*End Our services pages*/
/*NDSI*/
.ndsiContent {
  max-width: 1545px;
  margin: 0 auto;
}
.ndsiContent .contentHeading {
  background: #621909;
  padding: 25px;
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
  /* 125% */
  letter-spacing: 2.52px;
}
@media only screen and (max-width: 768px) {
  .ndsiContent .contentHeading {
    font-size: 23px;
  }
}
.ndsiContent .contentInner {
  background: rgba(98, 25, 9, 0.53);
  padding: 15px;
}
.ndsiContent .contentInner ul {
  margin: 0 0 0 35px;
}
.ndsiContent .contentInner ul li {
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
  margin: 0 0 15px 0;
}
@media only screen and (max-width: 768px) {
  .ndsiContent .contentInner ul li {
    font-size: 23px;
  }
}
.bottomSectionNdsi {
  min-height: 585px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .bottomSectionNdsi {
    min-height: 250px;
  }
}
.bottomSectionNdsi .button {
  background: #31483A;
  color: #FFF;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 112.5% */
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 30px 27px;
}
@media only screen and (max-width: 768px) {
  .bottomSectionNdsi .button {
    font-size: 23px;
    padding: 20px;
  }
}
/*END NDSI*/
/*Contact us*/
.pHeadingContactus {
  background: #02322C;
  padding: 50px 20px 50px 140px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .pHeadingContactus {
    padding: 20px;
  }
}
.pHeadingContactus .items {
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.pHeadingContactus .item1 {
  width: 35%;
  color: #FFF;
  font-family: "Khmer";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  /* 121% */
  letter-spacing: 4px;
}
.pHeadingContactus .item2 {
  width: 25%;
}
.pHeadingContactus .item3 {
  width: 40%;
}
.contactusContent {
  background: rgba(2, 50, 44, 0.5);
  max-width: 1545px;
  margin: 0px auto;
  text-align: center;
  padding: 0 0 60px 0;
}
.contactusContent .contentHeading {
  background: rgba(2, 50, 44, 0.5);
  padding: 25px 10px 25px 50px;
  color: #FFF;
  font-family: "Khmer";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 93.75% */
  letter-spacing: 3.36px;
}
.contactusContent .contentInner {
  background: #809895;
  padding: 50px 70px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.contactusContent .contentInner .leftBar {
  width: 58%;
  /*Common*/
  /*Common*/
}
.contactusContent .contentInner .leftBar .inputSection {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0 0 80px 0;
}
.contactusContent .contentInner .leftBar .inputSection input {
  width: 50%;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFFF;
  color: #FFF;
  font-size: 32px;
}
.contactusContent .contentInner .leftBar .inputSection input:focus {
  outline: none;
}
.contactusContent .contentInner .leftBar .inputSection input::-ms-input-placeholder {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
}
.contactusContent .contentInner .leftBar .inputSection input::placeholder {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
}
.contactusContent .contentInner .leftBar .oneColumn {
  width: 100%;
}
.contactusContent .contentInner .leftBar .oneColumn input {
  width: 48.8%;
}
.contactusContent .contentInner .leftBar .lastColumn {
  margin: 0 0 0 0;
}
.contactusContent .contentInner .leftBar .leftBarTop {
  background: #9AADAB;
  padding: 15px 55px 30px 15px;
}
.contactusContent .contentInner .leftBar .leftBarTop h2 {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
  margin-bottom: 30px;
}
.contactusContent .contentInner .leftBar .leftBarMiddle {
  background: #8EA3A1;
  padding: 15px 55px 30px 15px;
}
.contactusContent .contentInner .leftBar .leftBarMiddle h2 {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
  margin-bottom: 30px;
}
.contactusContent .contentInner .leftBar .leftBarBottom {
  background: #9AADAB;
  padding: 15px 55px 30px 15px;
}
.contactusContent .contentInner .leftBar .leftBarBottom h2 {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
  margin-bottom: 30px;
}
.contactusContent .contentInner .rightBar {
  width: 42%;
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.contactusContent .contentInner .rightBar .rightBarContent {
  border-left: 1px solid #FFF;
  padding: 60px 0;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner {
  margin: 0 0 0 10px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.11);
  padding: 8px;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner h2 {
  text-align: center;
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .optionInput {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .optionInput input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .optionInput input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -4px;
  left: 0;
  border: 2px solid #FFF;
  border-radius: 0px;
  background-color: #809895;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .optionInput input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 6px;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .optionInput label {
  color: #FFF;
  font-family: "Khmer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 140.625% */
  letter-spacing: 2.24px;
  padding: 0 0 0 25px;
  text-align: left;
}
.contactusContent .contentInner .rightBar .rightBarContent .rightBarInner .twoCol {
  align-items: baseline;
}
.contactusContent .button {
  background: #02322C;
  color: #FFF;
  text-align: center;
  font-family: "Inria Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: none;
}
.bottomSectionContact {
  min-height: 585px;
  background: url("../images/contact_b.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center -51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .bottomSectionContact {
    min-height: 250px;
  }
}
.bottomSectionContact .button {
  background: #31483A;
  color: #FFF;
  font-family: "Khmer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  /* 112.5% */
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 30px 27px;
}
@media only screen and (max-width: 768px) {
  .bottomSectionContact .button {
    font-size: 23px;
    padding: 20px;
  }
}
/*Contact us*/
